<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Log In</h5>
          <form name="form"(ngSubmit)="f.form.valid && VerifyConnection()" #f="ngForm" novalidate>
            <div class="form-group">

              <input type="email" name="email"  [(ngModel)]="model.email"   class="form-control" placeholder="Email" required email #email="ngModel" [ngClass]="{'is-invalid' :f.submitted && email.invalid}"/>

              <div *ngIf="f.submitted && email.invalid " class="invalid-feedback">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.email">Email must be a valid email adresse</div>

              </div>
            </div>

            <div class="form-group">

              <input type="password" name="password"  [(ngModel)]="model.password"  minlength="5"   class="form-control" placeholder="Password" required #password="ngModel" [ngClass]="{'is-invalid' :f.submitted && password.invalid}"/>

              <div *ngIf="f.submitted && password.invalid "  class="invalid-feedback">
                <div  *ngIf="password.errors.required">Password is required</div>
                <div   *ngIf="password.errors.minlength">Password must contain 5 characters </div>
              </div>
            </div>
            <div>
              <span class="alert-danger">{{ error }}</span>
            </div>
            <div class="form-group">
              <button class="btn btn-lg btn-primary btn-block " type="submit" >Log In</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
